doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/lib/angular/angular.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/factory.js')
    each val, index in controllers
        script(src='/javascripts/controller/'+val+'.js')
  body(ng-app="App") 
    header.header
      .page
        .logo=title 
        .user-cp
          h2=user.name
          p
            a(href='/login') 登录
            a(href='/logout') 退出
    block content
    footer.footer
      p 2016
