extends layout_base
block content
  header
    nav
      logo semioe 
      h2=user.name
      a(href='/mp') mp
      br
      a(href='/login') login
      br
      a(href='/logout') logout
      h2 订阅中心
      menu(ng-controller='menu')
        ul
          li(ng-repeat="item in items") {{item.name}}    
  block sub_content
  footer