extends layout_base
block content

  .waper
    .page
      .mp-menu
        a(href='/mp/post') 写稿
        br
        a(href='/mp/list') 稿件
        menu(ng-controller='menu')
          ul
            li(ng-repeat="item in items") {{item.name}}
      .mp-content
        block page_content

